services:
  api:
    build:
      dockerfile: Dockerfile
      context: ./api
    container_name: python_grafana_export_api
    ports:
      - 8080:8080
    volumes:
      - ./data/exporter:/var/lib/exporter/
  exporter:
    build:
      dockerfile: Dockerfile
      context: ./exporter
    container_name: python_grafana_export_exporter
    restart: unless-stopped
    environment:
      - "APPLICATION_URI=${APPLICATION_URI}"
      - "OPC_IDS=ns=6;i=6111,ns=6;i=6103,ns=6;i=6104,ns=6;i=6122,ns=6;i=6115"
      - "NICON_ADDRESS=192.168.102.10"
      - "SLEEP_TIME=5"
    volumes:
      - ./certs:/app/certs:ro
      - ./data/exporter:/var/lib/exporter/
  grafana:
    image: grafana/grafana:12.2
    container_name: python_grafana_export_grafana
    restart: unless-stopped
    environment:
      - "GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}"
      - "GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}"
      - "GF_PLUGINS_PREINSTALL_SYNC=yesoreyeram-infinity-datasource,marcusolsson-json-datasource"
    ports:
      - '3000:3000'
    volumes:
      - python_grafana_export_grafana_data:/var/lib/grafana
volumes:
  grafana_data:
  python_grafana_export_grafana_data:
