services:

  # service to get data from birex machine
  exporter:
    build:
      dockerfile: Dockerfile
      context: ./exporter
    container_name: python_grafana_export_exporter
    restart: unless-stopped
    environment:
      - "APPLICATION_URI=${APPLICATION_URI}"
      - "OPC_IDS=ns=5;i=5011,ns=6;i=6156,ns=6;i=6155,ns=6;i=6107,ns=6;i=6108,ns=6;i=6044,ns=6;i=6111,ns=6;i=6103,ns=6;i=6104,ns=6;i=6122,ns=6;i=6115"
      - "NICON_ADDRESS=192.168.102.10"
      - "SLEEP_TIME=5"
      - INFLUXDB_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
    volumes:
      - ./certs:/app/certs:ro
      - ./data/exporter:/var/lib/exporter/

  api:
    build:
      dockerfile: Dockerfile
      context: ./api
    container_name: python_grafana_export_api
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - ./data/exporter:/var/lib/exporter/

  # storage for images
  minio:
    container_name: python_grafana_export_minio
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    restart: unless-stopped
    user: "${USER_ID}"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - ./data/minio:/data
    ports:
    - 9000:9000
    - 9001:9001

  # storage for metrics
  influxdb:
    image: influxdb:3.5.0-core
    container_name: python_grafana_export_influxdb
    restart: unless-stopped
    user: "${USER_ID}"
    ports:
      - 8181:8181
    command:
      - influxdb3
      - serve
      - --node-id=python_grafana_export_influxdb
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --plugin-dir=/var/lib/influxdb3/plugins
    volumes:
      - ./data/influxdb/data:/var/lib/influxdb3/data
      - ./data/influxdb/plugins:/var/lib/influxdb3/plugins

  # storage for grafana drilldown
  prometheus:
    image: prom/prometheus:v3.7.1
    container_name: python_grafana_export_prometheus
    restart: unless-stopped
    user: "${USER_ID}"
    volumes:
      - ./config/prometheus:/etc/prometheus
      - ./data/prometheus/:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - 9090:9090

  grafana-mcp:
    container_name: python_grafana_export_grafana-mcp
    image: mcp/grafana
    ports:
      - 8000:8000
    command: " -debug -t streamable-http"

    environment:
      - GRAFANA_URL=http://python_grafana_export_grafana:3000
      - GRAFANA_SERVICE_ACCOUNT_TOKEN=${GRAFANA_SERVICE_ACCOUNT_TOKEN}

  grafana:
    image: grafana/grafana:12.2
    user: "${USER_ID}"
    container_name: python_grafana_export_grafana
    restart: unless-stopped
    environment:
      - "GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}"
      - "GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}"
      - "GF_PLUGINS_PREINSTALL_SYNC=yesoreyeram-infinity-datasource"
      # influxdb connection parameters for datasource
      - INFLUXDB_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
    ports:
      - '3000:3000'
    volumes:
      - ./data/grafana:/var/lib/grafana
      - ./config/grafana/provisioning:/etc/grafana/provisioning

