services:

  # service to get data from birex machine
  exporter:
    build:
      dockerfile: Dockerfile
      context: ./exporter
    container_name: python_grafana_export_exporter
    restart: unless-stopped
    environment:
      - "APPLICATION_URI=${APPLICATION_URI}"
      - "OPC_IDS=ns=6;i=6111,ns=6;i=6103,ns=6;i=6104,ns=6;i=6122,ns=6;i=6115"
      - "NICON_ADDRESS=192.168.102.10"
      - "SLEEP_TIME=5"
      - INFLUXDB_USERNAME=${DOCKER_INFLUXDB_INIT_USERNAME}
      - INFLUXDB_PASSWORD=${DOCKER_INFLUXDB_INIT_PASSWORD}
      - INFLUXDB_ORG=${DOCKER_INFLUXDB_INIT_ORG}
      - INFLUXDB_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
    volumes:
      - ./certs:/app/certs:ro
      - ./data/exporter:/var/lib/exporter/

  # storage for metrics
  influxdb:
    image: influxdb:2
    container_name: python_grafana_export_influxdb
    restart: unless-stopped
    user: "1000"
    ports:
      - 8086:8086
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${DOCKER_INFLUXDB_INIT_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${DOCKER_INFLUXDB_INIT_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${DOCKER_INFLUXDB_INIT_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
    volumes:
      - python_grafana_export_influx_data:/var/lib/influxdb2
      - python_grafana_export_influx_config:/etc/influxdb2

  grafana:
    image: grafana/grafana:12.2
    container_name: python_grafana_export_grafana
    restart: unless-stopped
    environment:
      - "GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}"
      - "GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}"
      - "GF_PLUGINS_PREINSTALL_SYNC=yesoreyeram-infinity-datasource"
    ports:
      - '3000:3000'
    volumes:
      - python_grafana_export_grafana_data:/var/lib/grafana

volumes:
  python_grafana_export_grafana_data:
  python_grafana_export_influx_data:
  python_grafana_export_influx_config:
