services:

  # service to get data from birex machine
  exporter:
    build:
      dockerfile: Dockerfile
      context: ./exporter
    container_name: python_grafana_export_exporter
    restart: unless-stopped
    environment:
      - "APPLICATION_URI=${APPLICATION_URI}"
      - "OPC_IDS=ns=5;i=5011,ns=6;i=6156,ns=6;i=6155,ns=6;i=6107,ns=6;i=6108,ns=6;i=6044,ns=6;i=6111,ns=6;i=6103,ns=6;i=6104,ns=6;i=6122,ns=6;i=6115"
      - "NICON_ADDRESS=192.168.102.10"
      - "SLEEP_TIME=5"
      - INFLUXDB_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
    volumes:
      - ./certs:/app/certs:ro
      - ./data/exporter:/var/lib/exporter/

  api:
    build:
      dockerfile: Dockerfile
      context: ./api
    container_name: python_grafana_export_api
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - ./data/exporter:/var/lib/exporter/

  # storage for metrics
  influxdb:
    image: influxdb:3.5.0-core
    container_name: python_grafana_export_influxdb
    restart: unless-stopped
    user: "${USER_ID}"
    ports:
      - 8181:8181
    command:
      - influxdb3
      - serve
      - --node-id=python_grafana_export_influxdb
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --plugin-dir=/var/lib/influxdb3/plugins
    volumes:
      - ./data/influxdb/data:/var/lib/influxdb3/data
      - ./data/influxdb/plugins:/var/lib/influxdb3/plugins

  grafana:
    image: grafana/grafana:12.2
    user: "${USER_ID}"
    container_name: python_grafana_export_grafana
    restart: unless-stopped
    environment:
      - "GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}"
      - "GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}"
      - "GF_PLUGINS_PREINSTALL_SYNC=yesoreyeram-infinity-datasource"
      # influxdb connection parameters for datasource
      - INFLUXDB_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
    ports:
      - '3000:3000'
    volumes:
      - ./data/grafana:/var/lib/grafana
      - ./config/grafana/provisioning:/etc/grafana/provisioning

