# python virtual environments
env
# env vars files
.env
# opc ua certificates and keys
certs
# data from the exporter
data.out
# pdfs
*.pdf
# data folders for applications
data
python-grafana-export/config/influxdb

# terrform files
*.tfstate*
terraform.*
*.terraform*
plan
